@import 'mixin';

.container-fluid {
    max-width: 80%;
}

.PeliculasResponsive {
    display: none
}

.navbar .container-fluid .navbar-brand {
    @include navbarEstilo();
}

.navbar .navbar-nav .registrarse-link {
    @include BotonEstilo()
}


.navbar .navbar-nav .dropdown {
    @include BotonIdioma()
}

.navbar .navbar-nav .des {
    display: flex;
    display: none;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-width: 1920px;
    max-height: 500px;
    object-fit: fill;

}




.carousel-caption .texto {
    width: 500px;
    height: 300px;
    display: none;
    position: relative;
    margin: 60px auto;

}

.carousel-item img:hover {
    filter: brightness(0.5);


}

.carousel-item img:hover+.carousel-caption .texto {
    display: block;

}

.Peliculas {
    height: 60vh;
}

.pelicartelera {
    width: 340px;
    height: 190px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    background-color: rgb(45, 45, 45);
    box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.75);


}



.pelicartelera img {
    height: 200px;
}


.pelicartelera:hover {
    height: 400px;
    transition: all 1s;
    box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.75);
}


.footer {
    @include FooterEstilo
}

@media (max-width: 575.98px) {

    @include responsiveNav();

    #carouselE {
        display: none;
    }

    .Peliculas {
        display: none;
    }

    .pelicartelera {
        @include PeliculasCartelera
    }

    .PeliculasResponsive {
        display: block;
        margin: 20px;

    }

    .titulo {
        gap: 40px;

    }
}


@media (max-width: 768px) {
    @include responsiveNav();

    #carouselE {
        display: none;
    }

    .Peliculas {
        display: none;
    }

    .pelicartelera {
        @include PeliculasCartelera
    }

    .PeliculasResponsive {
        display: block;
        margin: 20px;

    }

    .titulo {
        gap: 40px;

    }

}

@media (max-width: 1430px) {

    #carouselE {
        display: none;
    }

    .Peliculas {
        display: none;
    }

    .PeliculasResponsive {
        display: block;
        margin: 20px;

    }

    .pelicartelera {
        @include PeliculasCartelera
    }

    .titulo {
        gap: 40px;

    }

}